ul.article-list.featured.list-unstyled.justify-content-between
  each article, ind in articles
    if ind < 2
      li.featured
        a(href="/blog/" + article.slug)
          .square
            img(src=article.image, alt=article.description)
          .text
            h3.heading(title=article.title)
              =article.title
            small.meta.text-nowrap= article.prettyDate
            p= article.description
