extends layout

block content
  include partials/header

  .container.page
    .blog-content
      .row.mt-0.pt-0.mt-md-5
        .col.col-md-2.nav-back
          h2.font-light
            a.hidden-link(href="/blog/")
              ion-icon.align-bottom(name="arrow-back")
              span Posts
        .col-md-8
          include partials/_share-links
          figure
            img(src=postMetaData.image alt="postMetaData.description")
            if postMetaData.imageDesc
              figcaption= postMetaData.imageDesc
            else
              figcaption= postMetaData.description

          h3.post-title.mt-4= postMetaData.title

          p.author
            if postMetaData.author
              =postMetaData.author
            else
              =siteInfo.blog.author
            span.separator ,
            | 
            =postMetaData.prettyDate

          | !{content}

          div.pt-4.mb-5(role='tags')
            b Tags: 
            |&nbsp;
            each tag, ind in postMetaData.tags
              a.tag(href="/tags/" + tag)= tag
              //- if ind !== postMetaData.tags.length - 1
              //-   |, 

          include partials/_subscribe-form

          .post-nav.d-flex.justify-content-between.align-items-center.pt-4.mt-4.mb-5
            div
              if prevPostMetaData
                a(href=prevPostMetaData.slug)
                  span.direction.prev
                    i.gg-arrow-left
                    | Previous
                  br
                  span.title "#{prevPostMetaData.title}"
            div.text-right
              if nextPostMetaData
                a(href=nextPostMetaData.slug)
                  span.direction.next
                    | Next
                    i.gg-arrow-right
                  br
                  span.title "#{nextPostMetaData.title}"

  include partials/footer