extends layout

block content
  include partials/header
  
  .container-fluid.page-header
    .row
      .col
        .text-center.mt-4.mb-4
          h2 Blog
          p.meta.mb-0 #{site.project.author}’s thoughts in written form are collected here.

  .container-fluid.max-body-width
    .row
      //- include partials/_featured-posts.pug
      
  .container.page
    .row
      .col.col-lg-6.offset-lg-3
        ul.article-list.list-unstyled.plain-list.mb-5
          each article, ind in articles
            li
              a.d-flex(href="/blog/" + article.slug)
                section.img-frame
                  if article.image
                    img.img-fluid.rounded(src=article.image, alt=article.description)
                section.ms-4
                  small.text-nowrap.meta= article.prettyDate
                  h3=article.title
                  if article.tags.length > 0
                    .tags-horizontal.mt-2
                      each tag, ind in article.tags
                        span.tag.tag-small=tag

        .search-container
          i.gg-search.horizontal-flip
          input#search.form-control(type='text' placeholder='Search posts' aria-label='Search posts'  autocomplete="off")
          i.gg-close.clear-search-input
        ul.list-unstyled.search-results

        .mb-5.pb-5

  include partials/footer