include mixins/debug-overlay

doctype html
html
  head
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js")
    script(type="module" src='https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js')
    script(type="text/javascript" src="/javascript/scroll-to-top.js" charset="utf-8")
    script(type="text/javascript" src="/javascript/topnav.js" charset="utf-8")
    script(type="text/javascript" src="/javascript/search.js" charset="utf-8")

    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='/stylesheets/theme-' + site.project.theme + '.css')
    link(rel="icon" href=site.project.favicon type="images/x-icon")

    //- check if siteInfo object is present, a lot depends on it
    if siteInfo
      if isBlogPost
        title #{postMetaData.title} • #{site.project.siteName}
      else if title
        title #{title} • #{site.project.siteName}
      else
        title= site.project.siteName
    
      meta(property='og:locale' content='en_US')
      meta(property='og:site_name' content=site.project.siteName)
      
      if isBlogPost
        meta(property='og:type' content='article')
        meta(property='og:title' content=postMetaData.title + ' by ' + site.project.author)
        meta(property='og:description' content=postMetaData.description)
        meta(name='twitter:title' content=postMetaData.title + ' by ' + site.project.author)
        meta(name='twitter:description' content=postMetaData.description)
        meta(property='og:url' content=postMetaData.fullUrl)
        meta(name='description' content=postMetaData.description)
      else
        meta(property='og:type' content='website')
        meta(property='og:title' content=site.project.description)
        meta(name='twitter:title' content=site.project.description)
        meta(property='og:url' content='/')
        meta(property='og:description' content=site.project.description)
        meta(name='description' content=(title ? title + ' • ' : '') + site.project.description)

      //- Share images
      if isBlogPost && postMetaData.imageForShareFullUrl !== undefined
        meta(property='og:image' content=postMetaData.imageForShareFullUrl)
        meta(name='twitter:image' content=postMetaData.imageForShareFullUrl)
      else if isBlogPost && postMetaData.image !== undefined
        meta(property='og:image' content=postMetaData.imageFullUrl)
        meta(name='twitter:image' content=postMetaData.imageFullUrl)
      //- share image for About
      else if imageFullUrl !== undefined
        meta(property='og:image' content=imageFullUrl)
        meta(name='twitter:image' content=imageFullUrl)
      else
        meta(property='og:image' content=site.project.ogImage)
        meta(name='twitter:image' content=site.project.ogImage)
      meta(name="twitter:card" content="summary_large_image")
      meta(name="twitter:creator" content="rapidsystemshub")

    //- Plausible Analytics
    script(defer data-domain=site.project.domain src='https://plausible.io/js/script.js')

  if path === '/'
    - path = 'home'

  body(class=[themeClass, path])

    .body-inner
      block content

    if siteInfo && (siteInfo.env !== '' && siteInfo.env === 'prod')
      //-  Global site tag (gtag.js) - Google Analytics 
      script(async src='https://www.googletagmanager.com/gtag/js?id=' + siteInfo.appIds.googleAnalytics)
      script.    
        window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
      
          gtag('config', "#{siteInfo.appIds.googleAnalytics}");

    //- Google Fonts          
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,700&display=swap' rel='stylesheet')

    if process.env.NODE_ENV !== 'production'
      +debugOverlay(site, envVars)