doctype html
html
  head
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    script(type="module" src='https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js')
    script(type="text/javascript" src="/javascript/scroll-to-top.js" charset="utf-8")
    script(type="text/javascript" src="/javascript/topnav.js" charset="utf-8")
    script(type="text/javascript" src="/javascript/search.js" charset="utf-8")

    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel="icon" href="/images/favicon.png" type="images/x-icon")

    //- check if siteInfo object is present, a lot depends on it
    if siteInfo
      if isBlogPost
        title #{postMetaData.title} • #{siteInfo.blog.siteName}
      else if title
        title #{title} • #{siteInfo.blog.siteName}
      else
        title= siteInfo.blog.siteName
    
      meta(property='og:locale' content='en_US')
      meta(property='og:site_name' content=siteInfo.blog.siteName)
      
      if isBlogPost
        meta(property='og:type' content='article')
        meta(property='og:title' content=postMetaData.title + ' by ' + siteInfo.blog.author)
        meta(property='og:description' content=postMetaData.description)
        meta(name='twitter:title' content=postMetaData.title + ' by ' + siteInfo.blog.author)
        meta(name='twitter:description' content=postMetaData.description)
        meta(property='og:url' content=postMetaData.fullUrl)
        meta(name='description' content=postMetaData.description)
      else
        meta(property='og:type' content='website')
        meta(property='og:title' content=siteInfo.blog.description + ' • ' + siteInfo.blog.siteName)
        meta(name='twitter:title' content=siteInfo.blog.description + ' • ' + siteInfo.blog.siteName)
        meta(property='og:url' content='/')
        meta(property='og:description' content=siteInfo.blog.description)
        meta(name='description' content=title + ' • ' + siteInfo.blog.description)

      if isBlogPost && postMetaData.imageForShareFullUrl !== undefined
        meta(property='og:image' content=postMetaData.imageForShareFullUrl)
        meta(name='twitter:image' content=postMetaData.imageForShareFullUrl)
      else if isBlogPost && postMetaData.image !== undefined
        meta(property='og:image' content=postMetaData.imageFullUrl)
        meta(name='twitter:image' content=postMetaData.imageFullUrl)
      else
        meta(property='og:image' content='/images/og-image-vm.png')
        meta(name='twitter:image' content='/images/og-image-vm.png')
      meta(name="twitter:card" content="summary_large_image")
      meta(name="twitter:creator" content="vasily_m")

  if path === '/'
    - path = 'home'

  body(class=path)

    .body-inner
      block content

    if siteInfo && (siteInfo.env !== '' && siteInfo.env === 'prod')
      //-  Global site tag (gtag.js) - Google Analytics 
      script(async src='https://www.googletagmanager.com/gtag/js?id=' + siteInfo.appIds.googleAnalytics)
      script.    
        window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
      
          gtag('config', "#{siteInfo.appIds.googleAnalytics}");

      //- MouseFlow
      script(type='text/javascript').
        
        window._mfq = window._mfq || [];
          (function() {
            var mf = document.createElement("script");
            mf.type = "text/javascript"; mf.defer = true;
            mf.src = "//cdn.mouseflow.com/projects/6f8b54bd-3a08-4bef-b04b-134f1f217165.js";
            document.getElementsByTagName("head")[0].appendChild(mf);
          })();
        